<div id="home" class="landing">

    {{!-- <h1>Index</h1> --}}
<div class="row">
    <div class="col l11">

    
    {{#each Article}}
    <div class="article" data-id="{{id}}">
    <h4> {{title}} </h4>
    <p class="flow-text"> {{summary}} </p>
    <p> <a href="{{url}}">read more...</a></p>
    <div class="notes">
    <input id='titleinput' name='title' >
    <textarea id='bodyinput' name='body'></textarea>
            <button id="action-btn" class="btn waves-effect waves-light comment" value="{{id}}">comment</button>
            {{{user-input/comment}}}
    </div>
    
    <p>{{note.title}}</p>
    <hr>
    <p>{{note.body}}</p>
    {{!-- <p>
        {{#each Note}}
        {{title}}
        {{body}}
        {{/each}}
    </p> --}}
    {{!-- <button class="btn waves-effect waves-light comment-button" data-id={{id}}" type="submit" name="action" >Add note
    <i class="material-icons right">comment</i>
  </button> --}}
    
  </div>

    {{/each}}







    </div>
    <div class="col l1">
        {{>user-input/saved}} 
    </div>
</div>    


</div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="/app/app.js"></script>
{{!-- <script src="/js/materialize.js"></script> --}}

